.account-info{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    margin-top: 40px;
}

#avatar-img{
    width: 190px;
/*    filter: drop-shadow(0px 2px 13px black);*/
    border-radius: 50%;
    background: #23272A;
}

.info{
    text-align: center;
}

#acc-username{
    font-size: 40px;
    font-family: monospace;
    margin-top: 10px;
}

#acc-name{
    font-size: 17px;
    font-family: sans-serif;
    text-transform: capitalize;
}


.user-data{
    width: 100%;
    margin-top: 100px;
}

.data{
    width: 100;
}

#sec1-heading{
    text-align: center;
    font-size: 46px;
    font-family: sans-serif;
    color: rgb(88,81,219)
}

.stats-data{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.n-set{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#n-data{
    font-size: 100px;
    font-family: monospace;
    font-weight: normal;
    opacity: 0.89;
    color: lightgray;
    cursor: pointer;
}

#n-data:hover{
    color: grey;
}


#n-head{
    font-size: 30px;
}

























@media only screen and (max-width: 1550px) {
    .n-set{
        width: 40%;
    }
}



@media only screen and (max-width: 865px) {
    .n-set{
        width: 45%;
    }
}



@media only screen and (max-width: 768px) {
    #acc-username{
        font-size: 32px;
    }
    #acc-name{
        font-size: 17px;
    }
    #sec1-heading{
        font-size: 32px;
    }
    #n-head{
        font-size: 25px;
    }
    #n-data{
        font-size: 80px;
    }

}


@media only screen and (max-width: 650px) {
    .n-set{
        width: 50%;
    }
}


@media only screen and (max-width: 550px) {
    #acc-username{
        font-size: 27px;
    }
    #acc-name{
        font-size: 15px;
    }
    #avatar-img{
        width: 150px;
    }
    #n-head{
        font-size: 20px;
    }
    #n-data{
        font-size: 60px;
    }
    #sec1-heading{
        font-size: 28px;
    }
    .stats-data{
        margin-top: 40px;
    }


}

@media only screen and (max-width: 450px) {
    #acc-username{
        font-size: 23px;
    }
    #acc-name{
        font-size: 14px;
    }
    #avatar-img{
        width: 120px;
    }
    #n-head{
        font-size: 18px;
    }
    #n-data{
        font-size: 40px;
    }
    .n-set{
        width: 60%;
    }
    #sec1-heading{
        font-size: 25px;
    }

}


@media only screen and (max-width: 450px) {
    #sec1-heading{
        font-size: 20px;
    }
    #n-head{
        font-size: 16px;
    }
    #n-data{
        font-size: 35px;
    }
    .stats-data{
        margin-top: 25px;
    }
    .user-data{
        margin-top: 50px;
    }

}
