.account-info{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    margin-top: 40px;
}


#avatar-img{
    width: 190px;
/*    filter: drop-shadow(0px 2px 13px black);*/
    border-radius: 50%;
    background: #23272A;
}

.info{
    text-align: center;
}

#acc-username{
    font-size: 40px;
    font-family: monospace;
    margin-top: 10px;
}

#acc-name{
    font-size: 17px;
    font-family: sans-serif;
    text-transform: capitalize;
}


.user-data{
    width: 100%;
    margin-top: 100px;
}

.data{
    width: 100;
}

#sec1-heading{
    text-align: center;
    font-size: 46px;
    font-family: sans-serif;
    color: rgb(88,81,219)
}

.stats-data{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.n-set{
    display: flex;
    width: 20%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#n-data{
    font-size: 90px;
    font-family: monospace;
    font-weight: normal;
    opacity: 0.89;
    color: lightgray;
    cursor: pointer;
}


#n-data:hover{
    color: grey;
}


#n-head{
    font-size: 30px;
    font-family: serif;
}



.all-links{
    width: 100%;
    position: absolute;
    margin-top: 120px;
/*    background: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
 }


.container1,.container2{
    width: 60%;
}

.sec-link{
    display: flex;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px black solid;
}

#sec-link1{
    color: rgb(88,81,219);
}

.sec-nav{
    margin: 0 20px;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    cursor: pointer;
}



#head{
    font-size: 44px;
    font-family: sans-serif;
    color: rgb(88,81,219);
    margin-bottom: 50px;
}

#indicator{
    font-size: 36px;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;

}

.normal-link,.secure-link{
    margin-top: 40px;
    display: grid;
    grid-row-gap: : 20px;
    grid-column-gap: 80px;
    align-content: center;
    /*grid-template-columns: 1fr 2fr 1fr;*/
    grid-template-columns: repeat(auto-fill, minmax(270px, 0.5fr));
}

.secure-link{
    display: none;
}

.link-box{
    border-radius: 30px;
    box-shadow: 2px 6px 20px 1px rgba(88,81,219,0.35);
    height: 500px;
    margin-bottom: 50px;
    background: #F9FAFB;
}
/*rgba(0,0,0,0.55)*/

.box-head{
    width: 100%;
    height: 150px;
    background-blend-mode: multiply;
    border-top-right-radius: 30px;
    background:linear-gradient(-180deg, rgb(145 191 255) 0%, #884D80 100%);
    border-top-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: rgba(255,255,255,0.85);
    font-weight: bold;
    font-family: monospace;
    padding: 0px 5px;
    word-break: break-word;
}

.box-link{
    display: flex;
    height: 150px;
    flex-direction: column;
    word-break: break-all;
    margin-top: 20px;
}

#box-link{
    text-align: center;
}

#box-link-head,#box-note-head{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
}

.box-note{
    margin-top: 10px;
    overflow-y: auto;
    height: 100px;
}

#box-note{
    text-align: center;
    margin: 0px 10px;
    font-size: 15px;
    font-weight: bold;
    word-break: break-word;
    white-space: normal;
}


#goto{
    margin-top: 20px;
    width: 70px;
}

#goto:hover{
    transform: scale(1.1);
    fill: blue;
}


.page-links{
    margin-top: 30px;
    width: 100%;
}
.normal-pages{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}


.current-num,.page-num{
    margin: 0 10px;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    background: #0095f6;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

.current-num{
    background: #40c463;
}

.delete-link{
    width: 100%;
    text-align: center;
    padding-top: 4px;
}

#delete-link,#qr-link{
    width: 25px;
    margin-top:5px;
    margin-left: 10px;
    margin-right: 10px;
    filter: drop-shadow(0px 0px 2px #000);
}

#delete-link:hover,#qr-link:hover{
    transform: scale(1.1);
}










