:root{
    --bg-color: rgb(88,81,219);
}


.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#auth-head{
    font-size: 25px;
    font-weight: normal;
    font-family: monospace;
}



.sub{
    width: 30%;
    padding: 10px 0;
    background: #88BAF3;
    outline: none;
    border:none;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 550;
    font-family: sans-serif;
}
.sub:hover{
    color: rgba(255,255,255,1);
    background: #0095f6;
}

.group-sub{
    margin-top: 30px;
    text-align: center;
}

.label{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-top: 15px;

}
.form{
    width: 100%;
    margin-top: 20px;
}

.group{
    width: 30%;
    margin: 15px auto 0 auto;
}

.input,.input-error{
    width: 100%;
    padding: 5.5px 4.5px;
    font-size: 16px;
    background: #F9FAFB;
    outline: none;
    border-radius: 4px;
    border: 2px black solid;
}

.input-error:focus{
    background: white;
    border-color:red;
}

.input:focus{
    border-color: #AEEEEE;
    background: white;
}

.invalid{
    margin-left: 10px;
    color: red;
    font-size: 13px;
}
