*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #fff;
    width: 100%;
}

.navbar{
    width: 100%;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

#logo-a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    margin-left: 40px;
}

.logo{

}

.links{
    list-style: none;
    display: flex;
    padding-top: 10px;
}

.link{
    text-decoration: none;
    font-size: 18px;
    color: rgba(0,0,0,1);
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 40px;
}

.link:hover{
    color: rgb(88,81,219);
}



.flash_box-green,.flash_box-red{
    position: fixed;
    bottom: 0;
    width: 100%;
 }

.flash_box-green{
    background: lightgreen;
    color: green;
}
.flash_box-red{
    background: #ffcccb;
    color: red;
}


.flash_msg_box{
    width: 100%;
    text-align: center;
    padding-bottom: 17px;
}


#flash_text{
    font-size: 14px;
    font-weight: bolder;
}

#cross_btn{
    width: 22px;
    margin-left:auto;
    border-radius: 50%;
    background: white;
    border:1px solid black;
    cursor: pointer;
    display: block;
}



@media only screen and (max-width: 768px) {
    .container{
        width: 85%;
    }
    #logo-a{
        font-size: 30px;
        margin-left: 20px;
    }
    .link{
        font-size: 15px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 540px) {
    #logo-a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .container{
        width: 100%
    }
    #logo-a{
        font-size: 17px;
    }
    .link{
        font-size: 12px;
    }
    .links{
        padding-top: 5px;
    }
}

@media only screen and (max-width: 300px) {
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 10px;
    }
    #logo-a{
        margin-left: 0;
        font-size: 24px;
    }
    .link{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 10px;
    }
    .links{
        padding-top: 0px;
    }
    .cross_btm{
        width: 18px;
    }

}
