{% extends "layout.html" %}
{% block title %}
{{ current_user.username }} | Domain - Keeper
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='account.css') }}">
{% endblock link %}

{% block content %}
<section class="account-info">
    <div class="avatar-img">
        <img src="{{ url_for('static',filename='default_imgs/cowboy.png') }}" id="avatar-img">
    </div>
    <div class="info">
        <h1 id="acc-username">{{ current_user.username }}</h1>
        <h4 id="acc-name">{{ current_user.name }}</h4>
        <!-- No of links with us-->
    </div>
</section>
<section class="user-data">
    <div class="data">
        <h1 id="sec1-heading">
            Your Data With Us
        </h1>
        <div class="stats-data">
            <span class="n-set">
                <h1 id="n-data">{{ len(links) }}</h1>
                <h2 id="n-head">Total Links</h2>
            </span>
            <span class="n-set">
                <h1 id="n-data">{{ len(sec_links) }}</h1>
                <h2 id="n-head">Protected Links</h2>
            </span>
        </div>
    </div>
</section>
<section class="all-links">

    <div class="normal-links">
        <h1>Normal Links</h1>
        {% if links %}
            {% for link in links %}
                <div class="link-box">
                    <h2>{{ link.title }}</h2>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    </div>
</section>



{% endblock %}
