{% extends "layout.html" %}
{% block title %}
{{ current_user.username }} | Domain - Keeper
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='account.css') }}">
{% endblock link %}

{% block content %}
<section class="account-info">
    <div class="avatar-img">
        <img src="{{ url_for('static',filename='default_imgs/cowboy.png') }}" id="avatar-img">
    </div>
    <div class="info">
        <h1 id="acc-username">{{ current_user.username }}</h1>
        <h4 id="acc-name">{{ current_user.name }}</h4>
        <!-- No of links with us-->
    </div>
</section>
<section class="user-data">
    <div class="data">
        <h1 id="sec1-heading">
            Your Data With Us
        </h1>
        <div class="stats-data">
            <span class="n-set">
                <h1 id="n-data">{{ len(links) }}</h1>
                <h2 id="n-head">Total Links</h2>
            </span>
            <span class="n-set">
                <h1 id="n-data">{{ len(sec_links) }}</h1>
                <h2 id="n-head">Protected Links</h2>
            </span>
        </div>
    </div>
</section>
<section class="all-links">
    <h1 id="head">Your Links With Us</h1>
    <div class="container1">
        <ul class="sec-link">
            <li class="sec-nav" id="sec-link1">Normal</li>
            <li class="sec-nav" id="sec-link2">Youtube</li>
            <li class="sec-nav" id="sec-link3">Secured</li>
        </ul>
    </div>
    <div class="container2">
        <h1 id="indicator">Normal Links</h1>
        <div class="normal-link">
            {% if links %}
                {% for link in links %}
                    <div class="link-box">
                        <div class="box-head">
                            <h1 id="box-head">{{ title_unfold(link.title) }}</h1>
                        </div>
                        <div class="box-link">
                            <h2 id="box-link-head">Go To</h2>
                            <a href="{{ link.user_link }}" target="_blank" id="box-link">
                                <img src="{{ url_for('static',filename='default_imgs/launch.svg') }}" id="goto">
                            </a>
                        </div>
                        <div class="box-note">
                            <h2 id="box-note-head">Notes</h2>
                            <pre id="box-note" >{{ link.description }}</pre>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="secure-link">
            {% if sec_links %}
                {% for link in sec_links %}
                    <div class="link-box">
                        <div class="box-head">
                            <h1 id="box-head">{{ title_unfold(link.title) }}</h1>
                        </div>
                        <div class="box-link">
                            <h2 id="box-link-head">Go To</h2>
                            <a href="{{ link.user_link }}" target="_blank" id="box-link">
                                <img src="{{ url_for('static',filename='default_imgs/launch.svg') }}">
                            </a>
                        </div>
                        <div class="box-note">
                            <h2 id="box-note-head">Notes</h2>
                            <pre id="box-note" >{{ link.description }}</pre>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
