<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='layout.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo"><a href="/" id="logo-a">Domain-Keeper</a></h1>
            <ul class="links">
                {% if not current_user.is_authenticated %}
                  <li><a href="/login" class="link">Log in</a></li>
                  <li><a href="/signup" class="link">Sign Up</a></li>
                {% else %}
                  <li><a href="/add" class="link">Add</a></li>
                  <li><a href="{{ url_for('routes_bp.account',_anchor='my-links',username=current_user.username ) }}"class="link">My Links</a></li>
                  <li><a href="/logout" class="link">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% if success_or_not(messages) %}
              <div class="flash_box-green" id="flash_box-green">
                <img src="{{ url_for('static',filename='default_imgs/cross.png') }}" onclick="flashboxEnd()" id="cross_btn">
                {% for message in messages %}
                  <div class="flash_msg_box">
                    <p id="flash_text">
                        {{ message }}
                    </p>
                  </div>
                {% endfor %}
              </div>
            {% else %}
              <div class="flash_box-red" id="flash_box-red">
                <img src="{{ url_for('static',filename='default_imgs/cross.png') }}" id="cross_btn" onclick="flashboxEnd()">
                {% for message in messages %}
                  <div class="flash_msg_box">
                    <p id="flash_text">
                        {{ message }}
                    </p>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endif %}
        {% endwith %}
    </footer>
</body>
<script src="{{ url_for('static',filename='js/app.js') }}"></script>
</html>
