<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='qr.css') }}">
    <title>YT | domain-keeper </title>
</head>
<body>
    <div class="player">
        <iframe src="{{ embed }}" class="yt-player"></iframe>
    </div>
</body>
</html>
